In [1]:
import pandas as pd
df5 = pd.read_csv("https://datasets.imdbws.com/title.episode.tsv.gz", sep = "\t", nrows=1000)
df5.head(10)

      tconst parentTconst seasonNumber episodeNumber
0  tt0041951    tt0041038            1             9
1  tt0042816    tt0989125            1            17
2  tt0042889    tt0989125           \N            \N
3  tt0043426    tt0040051            3            42
4  tt0043631    tt0989125            2            16
5  tt0043693    tt0989125            2             8
6  tt0043710    tt0989125            3             3
7  tt0044093    tt0959862            1             6
8  tt0044668    tt0044243            2            16
9  tt0044901    tt0989125            3            46

In [2]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         1000 non-null   object
 1   parentTconst   1000 non-null   object
 2   seasonNumber   1000 non-null   object
 3   episodeNumber  1000 non-null   object
dtypes: object(4)
memory usage: 31.4+ KB

In [3]:
df5.shape

(1000, 4)

In [4]:
df5.dtypes

tconst           object
parentTconst     object
seasonNumber     object
episodeNumber    object
dtype: object

In [5]:
df5.describe()

           tconst parentTconst seasonNumber episodeNumber
count        1000         1000         1000          1000
unique       1000          241           19            64
top     tt0077806    tt0212699            1             1
freq            1           78          393            99