In [1]:
import pandas as pd
df4 = pd.read_csv("https://datasets.imdbws.com/title.crew.tsv.gz", sep = "\t", nrows=1000)
df4.head(10)

      tconst            directors    writers
0  tt0000001            nm0005690         \N
1  tt0000002            nm0721526         \N
2  tt0000003            nm0721526         \N
3  tt0000004            nm0721526         \N
4  tt0000005            nm0005690         \N
5  tt0000006            nm0005690         \N
6  tt0000007  nm0005690,nm0374658         \N
7  tt0000008            nm0005690         \N
8  tt0000009            nm0085156  nm0085156
9  tt0000010            nm0525910         \N

In [ ]:
df4.info()

In [ ]:
df4.shape

In [ ]:
df4.dtypes

In [ ]:
df4.describe()