In [4]:
import pandas as pd
df3 = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep = "\t")
df3.head(10)

C:\Users\Lulu\AppData\Local\Temp\ipykernel_15396\3037626489.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep = "\t")

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
7,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,\N,1,"Documentary,Short"
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
9,tt0000010,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0,1895,\N,1,"Documentary,Short"

In [5]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10896585 entries, 0 to 10896584
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 748.2+ MB

In [7]:
df3.shape

(1000, 9)

In [8]:
df3.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult            int64
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [9]:
df3.describe()

       isAdult
count   1000.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0

In [6]:
df3['isAdult'].unique()

array([0, 1, 2019, 1981, 2020, 2017, '0', '1', '\\N', 2023, 2022, 2011,
       2016, 2015, 2014, 2013, 2012, 2018, 2021, 1979, 1980, 1982, 1983,
       1984, 1987, 1985, 1986, 1977, 1978, 1966, 1970, 1971, 1972, 1973,
       1974, 1975, 1988, 1976, 1968, 1969, 1964, 1967, 2024, 2005],
      dtype=object)